body {
  background: #fff8ee;
  padding: 10px;
  max-width: 500px;
  margin: auto;
}

.h1 {
  text-align: center;
}

.welcome-heading {
  text-align: center;
  margin: 50px 0;
}

.button {
  font-size: 2em;
  color: white;
  padding: 10px 10px;
  min-width: 20%;
  display: inline-block;
  background: green;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button + .button {
  margin-top: 10px;
}

.game-board-players {
  display: block;
}

.game-board-player {
  display: inline;
  padding: 5px;
}

.game-board-player__active {
  background: #f9d695;
}

.game-board-img {
  height: 10em;
  text-align: center;
  display: block;
  margin: auto;
  padding: 10px 0;
}

.progress-bar {
 width: 100%;
 border: 1px solid black;
 position: relative;
 padding: 1px;
 margin: 20px 0;
}

.progress-bar__status {
 position: absolute;
 left: 45%;
}

.progress-bar__bar {
 height: 20px;
 background-color: green;
}
