<h1 class="h1">How many players?</h1>

{{#link-to 'play' (query-params numOfPlayers=2) class="button"}}2{{/link-to}}
{{#link-to 'play' (query-params numOfPlayers=3) class="button"}}3{{/link-to}}
{{#link-to 'play' (query-params numOfPlayers=4) class="button"}}4{{/link-to}}
{{#link-to 'play' (query-params numOfPlayers=5) class="button"}}5{{/link-to}}