.button {
  font-size: var(--fs2);
  color: var(--color-white);
  padding: 10px 10px;
  min-width: 20%;
  display: inline-block;
  background: var(--color-turqouise-light);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.game-board-player__active {
  background: var(--color-blue-light);
  color: var(--color-white);
}

.game-board-img {
  height: 10rem;
  text-align: center;
  display: block;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.progress-bar {
  width: 100%;
  position: relative;
  margin-bottom: var(--s5);
}

.progress-bar__status {
  position: absolute;
  left: 45%;
}

.progress-bar__bar {
  height: 0.5rem;
  background-color: var(--color-blue-light);
  transition: width 200ms ease-in-out;
}
