@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");

:root {
  --color-turqouise-light: #00a99e;
  --color-turqouise-dark: #177a8c;
  --color-blue-light: #20537b;
  --color-blue-dark: #262a6a;
  --color-white: #ffffff;

  --s1: 0.25rem;
  --s4: 1rem;
  --s5: 1.25rem;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: var(--color-white);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
