@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --color-turqouise-light: #00a99e;
  --color-turqouise-dark: #177a8c;
  --color-blue-light: #20537b;
  --color-blue-dark: #262a6a;
  --color-white: #ffffff;

  --fs1: 3rem;
  --fs2: 2.25rem;
  --fs3: 1.875rem;
  --fs4: 1.5rem;
  --fs5: 1.25rem;
  --fs6: 1rem;
  --fs7: 0.875rem;

  --s1: 0.25rem;
  --s2: 0.5rem;
  --s3: 0.75rem;
  --s4: 1rem;
  --s5: 1.25rem;
  --s6: 1.5rem;
  --s7: 2rem;
  --s8: 2.5rem;
  --s9: 3rem;
  --s10: 4rem;
  --s11: 5rem;
  --s12: 6rem;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: var(--color-white);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.fs1 {
  font-size: var(--fs1);
}
.fs2 {
  font-size: var(--fs2);
}
.fs3 {
  font-size: var(--fs3);
}
.fs4 {
  font-size: var(--fs4);
}
.fs5 {
  font-size: var(--fs5);
}
.fs6 {
  font-size: var(--fs6);
}
.fs7 {
  font-size: var(--fs7);
}

.tc {
  text-align: center;
}

.mt1 {
  margin-top: var(--s1);
}
.mt2 {
  margin-top: var(--s2);
}
.mt3 {
  margin-top: var(--s3);
}
.mt4 {
  margin-top: var(--s4);
}
.mt5 {
  margin-top: var(--s5);
}
.mt6 {
  margin-top: var(--s6);
}
.mt7 {
  margin-top: var(--s7);
}
.mt8 {
  margin-top: var(--s8);
}
.mt9 {
  margin-top: var(--s9);
}
.mt10 {
  margin-top: var(--s10);
}
.mt11 {
  margin-top: var(--s11);
}
.mt12 {
  margin-top: var(--s12);
}

.mr1 {
  margin-right: var(--s1);
}
.mr2 {
  margin-right: var(--s2);
}
.mr3 {
  margin-right: var(--s3);
}
.mr4 {
  margin-right: var(--s4);
}
.mr5 {
  margin-right: var(--s5);
}
.mr6 {
  margin-right: var(--s6);
}
.mr7 {
  margin-right: var(--s7);
}
.mr8 {
  margin-right: var(--s8);
}
.mr9 {
  margin-right: var(--s9);
}
.mr10 {
  margin-right: var(--s10);
}
.mr11 {
  margin-right: var(--s11);
}
.mr12 {
  margin-right: var(--s12);
}

.mb1 {
  margin-bottom: var(--s1);
}
.mb2 {
  margin-bottom: var(--s2);
}
.mb3 {
  margin-bottom: var(--s3);
}
.mb4 {
  margin-bottom: var(--s4);
}
.mb5 {
  margin-bottom: var(--s5);
}
.mb6 {
  margin-bottom: var(--s6);
}
.mb7 {
  margin-bottom: var(--s7);
}
.mb8 {
  margin-bottom: var(--s8);
}
.mb9 {
  margin-bottom: var(--s9);
}
.mb10 {
  margin-bottom: var(--s10);
}
.mb11 {
  margin-bottom: var(--s11);
}
.mb12 {
  margin-bottom: var(--s12);
}

.ml1 {
  margin-left: var(--s1);
}
.ml2 {
  margin-left: var(--s2);
}
.ml3 {
  margin-left: var(--s3);
}
.ml4 {
  margin-left: var(--s4);
}
.ml5 {
  margin-left: var(--s5);
}
.ml6 {
  margin-left: var(--s6);
}
.ml7 {
  margin-left: var(--s7);
}
.ml8 {
  margin-left: var(--s8);
}
.ml9 {
  margin-left: var(--s9);
}
.ml10 {
  margin-left: var(--s10);
}
.ml11 {
  margin-left: var(--s11);
}
.ml12 {
  margin-left: var(--s12);
}

.ma1 {
  margin: var(--s1);
}
.ma2 {
  margin: var(--s2);
}
.ma3 {
  margin: var(--s3);
}
.ma4 {
  margin: var(--s4);
}
.ma5 {
  margin: var(--s5);
}
.ma6 {
  margin: var(--s6);
}
.ma7 {
  margin: var(--s7);
}
.ma8 {
  margin: var(--s8);
}
.ma9 {
  margin: var(--s9);
}
.ma10 {
  margin: var(--s10);
}
.ma11 {
  margin: var(--s11);
}
.ma12 {
  margin: var(--s12);
}

.pt1 {
  padding-top: var(--s1);
}
.pt2 {
  padding-top: var(--s2);
}
.pt3 {
  padding-top: var(--s3);
}
.pt4 {
  padding-top: var(--s4);
}
.pt5 {
  padding-top: var(--s5);
}
.pt6 {
  padding-top: var(--s6);
}
.pt7 {
  padding-top: var(--s7);
}
.pt8 {
  padding-top: var(--s8);
}
.pt9 {
  padding-top: var(--s9);
}
.pt10 {
  padding-top: var(--s10);
}
.pt11 {
  padding-top: var(--s11);
}
.pt12 {
  padding-top: var(--s12);
}

.pr1 {
  padding-right: var(--s1);
}
.pr2 {
  padding-right: var(--s2);
}
.pr3 {
  padding-right: var(--s3);
}
.pr4 {
  padding-right: var(--s4);
}
.pr5 {
  padding-right: var(--s5);
}
.pr6 {
  padding-right: var(--s6);
}
.pr7 {
  padding-right: var(--s7);
}
.pr8 {
  padding-right: var(--s8);
}
.pr9 {
  padding-right: var(--s9);
}
.pr10 {
  padding-right: var(--s10);
}
.pr11 {
  padding-right: var(--s11);
}
.pr12 {
  padding-right: var(--s12);
}

.pb1 {
  padding-bottom: var(--s1);
}
.pb2 {
  padding-bottom: var(--s2);
}
.pb3 {
  padding-bottom: var(--s3);
}
.pb4 {
  padding-bottom: var(--s4);
}
.pb5 {
  padding-bottom: var(--s5);
}
.pb6 {
  padding-bottom: var(--s6);
}
.pb7 {
  padding-bottom: var(--s7);
}
.pb8 {
  padding-bottom: var(--s8);
}
.pb9 {
  padding-bottom: var(--s9);
}
.pb10 {
  padding-bottom: var(--s10);
}
.pb11 {
  padding-bottom: var(--s11);
}
.pb12 {
  padding-bottom: var(--s12);
}

.pl1 {
  padding-left: var(--s1);
}
.pl2 {
  padding-left: var(--s2);
}
.pl3 {
  padding-left: var(--s3);
}
.pl4 {
  padding-left: var(--s4);
}
.pl5 {
  padding-left: var(--s5);
}
.pl6 {
  padding-left: var(--s6);
}
.pl7 {
  padding-left: var(--s7);
}
.pl8 {
  padding-left: var(--s8);
}
.pl9 {
  padding-left: var(--s9);
}
.pl10 {
  padding-left: var(--s10);
}
.pl11 {
  padding-left: var(--s11);
}
.pl12 {
  padding-left: var(--s12);
}

.pa1 {
  padding: var(--s1);
}
.pa2 {
  padding: var(--s2);
}
.pa3 {
  padding: var(--s3);
}
.pa4 {
  padding: var(--s4);
}
.pa5 {
  padding: var(--s5);
}
.pa6 {
  padding: var(--s6);
}
.pa7 {
  padding: var(--s7);
}
.pa8 {
  padding: var(--s8);
}
.pa9 {
  padding: var(--s9);
}
.pa10 {
  padding: var(--s10);
}
.pa11 {
  padding: var(--s11);
}
.pa12 {
  padding: var(--s12);
}

.hidden {
  display: none;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}

.br1 {
  border-radius: 0.25rem;
}

.invisible {
  visibility: hidden;
}

.flex-column {
  flex-direction: column;
}
.items-center {
  align-items: center;
}

.max-width-1 {
  max-width: 22rem;
}
